<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app created for learning Node.js (Andrew Mead Course)
        <br><br>
        It uses data from:<br><a href="https://mapbox.com" target="_blank">mapbox.com</a>, <a href="https://weatherstack.com/" target="_blank">weatherstack.com.</a></p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>